@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

:root {
  --pixel-size: 6;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-size: 20px;
  line-height: 2rem;
  /* border: #fff 1px solid; */
}

html {
  box-sizing: border-box;
}

body {
  font-family: 'Nunito';
  background-color: #333;
  color: #fff;
  height: 100vh;
  display: grid;
  grid-template-columns: 2fr 1fr;
  justify-items: center;
  align-items: center;
}

button {
  height: 100%;
  width: 100%;
  padding: 1rem 1.5rem;
  color: #fff;
  background-color: #333;
  border: 2px solid #fff;
  border-radius: 0.3rem;
  cursor: pointer;
}

.btn:hover {
  background-color: wheat;
  color: #333;
  transition: 0.2s ease-in;
  cursor: pointer;
}

/* Battle log */
.battle--log {
  border: 3px solid #fff;
  border-radius: 0.3rem;
  height: 80%;
  width: 100%;
  padding: 2rem;
  margin: 0 2rem 0 0;
  overflow: scroll;
}

/* Game */
.main--game {
  padding: 1.5rem;
}

.game--container {
  margin: 0 0 6rem 0;
}

.player--menu {
  padding: 1.5rem;
  border: 2px solid #fff;
  border-radius: 0.3rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2rem;
  justify-items: center;
  align-items: center;
  z-index: 3;
}

.skills--container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  justify-items: center;
  align-items: center;
}

.hp--enemyBarContainer {
  width: 100%;
  height: 2rem;
  border: 2px solid #fff;
  margin: 1rem 0;
  text-align: center;
}

.hp--enemyBar {
  width: 100%;
  height: 100%;
  background-color: crimson;
}

.hp--playerBarContainer {
  width: 100%;
  height: 2rem;
  border: 2px solid #fff;
  margin: 1rem 0;
  text-align: center;
}

.hp--playerBar {
  width: 100%;
  height: 100%;
  background-color: crimson;
}

/* Spritesheet */
.enemy--pic {
  width: calc(32px * var(--pixel-size));
  height: calc(32px * var(--pixel-size));
  left: 50%;
  transform: translateX(-50%);
  overflow: hidden;
  position: relative;
}

.enemy--spritesheet {
  animation: moveSpriteSheet 1s steps(4) infinite;
  width: calc(128px * var(--pixel-size));
  position: absolute;
}

.pixelart {
  image-rendering: pixelated;
}

.hidden {
  display: none;
}

.currentItem {
  background-color: crimson;
}

.execute--container {
  position: absolute;
  height: inherit;
  width: 100%;
  background-color: rgba(53, 53, 53, 0.7);
  z-index: 10;
}

.execute--skillContainer {
  background-color: wheat;
  border: 2px solid #fff;
  border-radius: 0.3rem;
  padding: 2rem;
  height: 30rem;
  width: 50rem;
  display: grid;
  /* grid-template-rows: 2fr; */
  justify-content: center;
  align-items: center;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.name--description {
  display: none;
}

.name--description--active {
  display: flex;
  flex-direction: column;
}

.description--box {
  display: flex;
  justify-content: space-around;
  background-color: rgba(53, 53, 53, 0.7);
  padding: 2rem;
}

.item--image {
  height: 130px;
  width: 130px;
}

.modal--buttons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.modal--btn:hover {
  background-color: crimson;
  transition: 0.2s ease-in;
}

.modal--options {
  display: flex;
  justify-content: space-around;
}

.remainingUse--container {
  margin-top: 3px;
  border: 2px solid #fff;
  background-color: rgba(53, 53, 53, 0.7);
}

@keyframes moveSpriteSheet {
  from {
    transform: translate3d(0px, 0, 0);
  }
  to {
    transform: translate3d(-100%, 0, 0);
  }
}
